
.projects {
    text-align: center;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;    
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.projects p {
    padding: 1em;
}

.projects ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    list-style: none;
    width: 150vh;
}

.projects ul a{
    text-decoration: none;
}

.projects ul li{
    width: 42vh;
    height: 50vh;
}
