
.projects {
    text-align: center;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;    
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.projects p {
    padding: 1em;
}

.projects ul {
    display: flex;
    justify-content:center;
    list-style: none;
    width: 150vh;
}

.projects ul li{
    background-image: linear-gradient(45deg, #FFFFFF, #e7e7e7);
    border: 1px solid #444444;
    width: 40vh;
    height: 40vh;
    margin: 1em;
    padding: 1em;
    padding-top: 2em;
    border-radius: 20px;
    opacity: 40%;
    transition: 0.5s;
    margin: 2vh;
    font-size: 1.5vh;
}

.projects ul li:hover{
    background-image: linear-gradient(90deg, #fffdda, #f7ffac);
    opacity: 100%;
    cursor: pointer;
    transition: 0.5s;

    width: 42vh;
    height: 42vh;
    margin: 1vh;
    font-size: 1.6vh;
    opacity: 1;
}
