.left_block{
    display: flex;
}

.logo{
    margin-right: 2em;
}

.logo img{
    max-width:60px;
    max-height:60px;
    width: auto;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 2em;
    margin-bottom: 0.5em;
    height: 10vh;
}

.header h1{
    animation-duration: 5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 80%;
        width: 100%;
        opacity: 0;
    }

    40%{
        margin-left: 80%;
        width: 100%;
        opacity: 0;        
    }
  
    to {
        margin-left: 0%;
        width: 100%;
        opacity: 1;
    }
}

.header p{
    font-style: italic;
    opacity: 100%;
    text-align: center;
    animation: fadeInAnimation ease 5s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.header ul {
    list-style: none;
    display: flex;
}

.header ul li {
    width: 120px;
    height: 40px;
    text-align: center;
    font-size: 1.1em;
    transition: 0.3s;
    font-weight: bold;
}

.header ul li:hover{
    font-size: 1.4em;
    transition: 0.3s;
    color: rgb(158, 204, 241);
}

.header a{
    text-decoration: none;
    text-transform: uppercase;

}