.slider{
    background: linear-gradient(
      rgba(0, 0, 0, 0.9), 
      rgba(0, 0, 0, 0.9)
    ),
    url("./../../img/slider_back.jpg"); 
    color: #FFFFFF;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 0;
    animation-duration: 2.5s;
    animation-name: slidecover;
    animation-iteration-count: 1;
}

.slider h1{
    text-align: center;
    opacity: 0;    
    animation-duration: 2s;
    animation-name: slidewelcome;
}

@keyframes slidecover {
    from {
        height: 100%;
        z-index: 1;
    }

    75% {
        height: 100%;
    }

    to {
        height: 0;
        z-index: 1;
    }
}

@keyframes slidewelcome {
    from {
      margin-top: 22%;
      opacity: 0;
    }

    70% {
        margin-top: 21%;        
        opacity: 1;
    }

    to {
      margin-top: 20%;
      opacity: 0;
    }
  }

.loading{
    animation-duration: 2s;
    animation-name: loadfade;
    opacity: 0;
}

@keyframes loadfade {
    from {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}